<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">/logs</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>
        <!--<RollingRandomAccessFile name="ErrorLog"-->
        <!--fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log" filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">-->
        <!--<PatternLayout pattern="%d %-5p (%F:%L) - %m%n" />-->
        <!--<Policies>-->
        <!--<TimeBasedTriggeringPolicy />-->
        <!--<SizeBasedTriggeringPolicy size="100 MB" />-->
        <!--</Policies>-->
        <!--<DefaultRolloverStrategy max="20" />-->
        <!--</RollingRandomAccessFile>-->

    </Appenders>
    <loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息 -->
        <logger name="org.springframework" level="INFO"></logger>
        <logger name="com.excel" level="DEBUG"></logger>

        <!--<logger name="org.mybatis" level="INFO"></logger>-->
        <root level="WARN">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</Configuration>